<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>The Great Climate Race</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <!-- DateTime Picker -->

  <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/static/bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="/static/bower_components/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
 <!-- <link rel="stylesheet" href="/static/bower_components/bootstrap/css/bootstrap.min.css" /> --> <!-- This is somehow causign an error-->
  <link rel="stylesheet" href="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/normalize.css">
  <link rel="stylesheet" href="/static/skeleton.css">

</head>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<body>
  <div class="container">
    <div class="row"> 
      <div class="two-thirds column" style="margin-top: 20%">
        <h1 class="title">The Great Cliamte Race (Prototype)</h1>
        <h5>Who said that sustainable racing wasn't fun</h5>
        <hr>
      </div>
    </div>

    {% block content %}
    {% endblock %}


</div>
  </body>
  </html>